.header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	z-index: 10;
}

.header-menu{
	position: relative;
}

svg{
	width: auto;
	height: 350px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.carrusel{
	z-index: -1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 90%;
    overflow: auto;
    white-space: nowrap;
    -webkit-scroll-snap-points-x: repeat(100%);
        -ms-scroll-snap-points-x: repeat(100%);
            scroll-snap-points-x: repeat(100%);
    -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
            scroll-snap-type: mandatory;
}

.carrusel-Imagenes{
	width: 100%;
	height: 100%;
	display: inline-block;
	scroll-snap-align: none start;
}

.footer-piepagina{
	background: #26304E;
	text-align: center;
	color:white;
	font-size: .8em;
	padding: .1em 0;
}